body {
    background-color: gainsboro;
    font-family: Helvetica;
}

.products-manager {
    display: flex;
    padding: 10px;
}

.products-list {
    width: 60%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
    min-height: 20px;
    height: fit-content;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    min-height: 50px;
    align-items: center;
    padding: 5px 12px 5px 15px;
    border-bottom: 1px solid lightgray;
}

.shopping-cart {
    width: 40%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 20px;
    height: fit-content;
}

.search-field {
    width: calc(100% - 100px);
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
    font-size: medium;
    padding: 10px;
}

.button {
    height: 32px;
    padding: 10px 15px 30px 15px ;
    margin: 5px;
    color: gray;
    font-size:1.5ch;
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: inset 0px -5px lightgrey;
    cursor: pointer;
    position: relative;
}

.add-button:disabled {
    background-color: rgb(182, 227, 182);
    box-shadow: inset 0 -3px rgb(139, 174, 139);
}

.remove-button:disabled {
    background-color:rgb(217, 172, 172);
    box-shadow: inset 0 -3px rgb(160, 127, 127);
}

.search-button {
    width: 100px;
    height: 42px;
    background-color: dodgerblue; 
    box-shadow: inset 0px -5px rgb(29, 124, 220); 
    color: white; 
    border-radius: 0px 5px 5px 0px;
    font-size:medium;
    border: 0px;
}

.row-section {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
}

.quanity-manager > * {
    margin: 0px 5px 0px 5px;
}

.quanity {
    padding: 7px 12px;
    border-radius: 10px;
    text-align: center;
    background-color: lightgray;
}

.add-button {
    cursor: pointer;
    position: relative;
    background-color: rgb(20, 176, 20); 
    box-shadow: inset 0 -3px green;
    margin: 5px;
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 50%;
    font-size: x-large;
    color: white;
}

.remove-button {
    cursor: pointer;
    position: relative;
    background-color: red; 
    box-shadow: inset 0 -3px firebrick;
    margin: 5px;
    height: 40px;
    width: 40px;
    border: 0;
    padding: 0px 1px 5px 0px;
    border-radius: 50%;
    font-size: x-large;
    color: white;
}

.amount-box {
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    color: gray;
    border-radius: 5px;
    padding: 5px;
}

.text-input {
    border: 2px solid lightgray;
    width: 100px;
    border-radius: 5px;
    height: 25px;
    margin: 5px;
}

.badge {
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 150px;
    height: 70px;
    transition: all 1s ease-out;
    background-color: blueviolet;
    color: white;
    align-items: center;
    display: block;
    padding: 10px;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
}

.badge:hover {
    transition: all 1s ease-out;
    height: 130px;
    background-color: slateblue;
}

.button::before, .add-button::before, .remove-button::before{
    content: attr(data-tooltip);
    font: initial;
    font-family: Arial, Helvetica, sans-serif;
    filter: initial;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  }
  
  .button:hover::before, .add-button:hover::before, .remove-button:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
    filter: initial;
  }

@media print {
    .badge {
        background-color: white;
        color: black;
        border: 2px solid darkgray;
        height: 40px;
    }

    .badge > p:first-of-type {
        display: none;
    }

    .badge > span {
        margin-left: 25px;
    }
}

@media (max-width:500px){

    .products-manager {
        display: grid;
    }
    
    .products-list {
        margin: 0 0 10px 0;
        width: 100%;
    }

    .shopping-cart {
        width: 100%;
    }
}