body {
    background-color: gainsboro;
}

.products-manager {
    display: flex;
    padding: 10px;
}

.products-list {
    width: 60%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
    min-height: 20px;
    height: fit-content;
}

.row {
    padding: 12px 12px 12px 15px;
    border-bottom: 1px solid lightgray;
}

.shopping-cart {
    width: 40%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 20px;
    height: fit-content;
}

.search-field {
    width: calc(100% - 100px);
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
}

.search-button {
    width: 100px;
    color: white;
    font-size: medium;
    border: 2px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 0px 5px 5px 0px;
}

@media (max-width:500px){

    .products-manager {
        display: grid;
    }
    
    .products-list {
        margin: 0 0 10px 0;
        width: 100%;
    }

    .shopping-cart {
        width: 100%;
    }
}